.nav-link {
    font-size: 1.2em;
    margin-right: 2em;
    color: white;
}

.nav-link:hover {
    color: #AAAAAA;
}

#carouselIndex{
    margin-top: 4rem;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

.navbar{
    margin-bottom: 2rem !important;
}

.navbar-logo {
    margin-right: 2rem;
}