 {% extends 'layout.html' %}
{% set active_page = "upload_data_source" %}

{% block title %}
Upload Data Source
{% endblock %}

{% block header %}
{% endblock %}

{% from "render_form_field.html" import render_field %}

{% block content %}
    <div class="container">
        <main role="main" class="col-md ml-sm-auto col-lg" style="margin-top: 20px;">
            <h1 class="h2">Upload Data Source</h1><hr/>


            {% if error %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Whoops!</strong> {{ error }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}
            <form id="uploadDataSourceForm" class="form form-register-company" method="POST" action="{{ url_for("employees.upload_data_source") }}" enctype="multipart/form-data">

                {{ form.hidden_tag() }}
                {{ render_field(form.title, placeholder="") }}<br>
                {{ render_field(form.description, placeholder="") }}<br>
                {{ render_field(form.publish) }}<br>
                {{ render_field(form.is_private) }}<br>
                {{ render_field(form.data_source_type) }}<br>
                {{ render_field(form.file) }}<br>
                {{ render_field(form.subscription_fee) }}<br>
                {{ render_field(form.responsible_employee) }}<br>

                <p><input class="btn btn-dark btn-submit btn-dark" type="submit" value="Register"></p>
            </form>
        </main>

    </div>
{% endblock %}