 {% extends 'layout.html' %}
{% set active_page = "register_company" %}

{% block title %}
Register Company
{% endblock %}

{% block header %}
{% endblock %}

{% from "render_form_field.html" import render_field %}

{% block content %}
    <div class="container">
        <main role="main" class="col-md ml-sm-auto col-lg" style="margin-top: 20px;">
            <h1 class="h2">Register a Company</h1><hr/>


            {% if error %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Whoops!</strong> {{ error }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}
            <form id="registerCompanyForm" class="form form-register-company" method="POST" action="{{ url_for("admin.register_company") }}" role="form">
                {{ form.hidden_tag() }}
                {{ render_field(form.company_name, placeholder="BeeNova Inc.") }}<br>

                <h4 class="h4">Responsible Employee</h4><hr/>
                {{ render_field(form.first_name, placeholder="") }}<br>
                {{ render_field(form.last_name, placeholder="") }}<br>
                {{ render_field(form.email, placeholder="") }}<br>
                {{ render_field(form.phone_number, placeholder="+49 XXX XXX XXXX") }}<br>
                {{ render_field(form.password, placeholder="") }}<br>
                {{ render_field(form.confirm, placeholder="") }}<br>
                <p><input class="btn btn-dark btn-submit btn-dark" type="submit" value="Register"></p>
            </form>
        </main>

    </div>
{% endblock %}