{% extends 'layout.html' %} 
{% set active_page = "request_data_source" %} 

{% block title %} Request Data Source {% endblock %} 
{% block header %} 
{% endblock %} 

{% from "render_form_field.html" import render_field %} 

{% block content %}
<div class="container">
  <main role="main" class="col-md ml-sm-auto col-lg" style="margin-top: 20px">
    <h1 class="h1">{{ user_info['name'] }}'s Account</h1>
    <hr />

    <div class="media">
      <img
        class="rounded-circle accoount-img"
        src="{{ user_info['profile_photo'] }}"
        style="padding: 15px 20px 0px 0px"
      />
      <div class="media-body">
        <h2 class="account-heading">
          <b>Username:</b> {{ user_info['username'] }}
        </h2>
        <p class="text-secondary"><b>Company:</b> {{ user_info['company'] }}</p>
        <p class="text-secondary"><b>Phone Number:</b> {{ user_info['phone_number'] }} </p>
        <p class="text-secondary"><b>E-mail:</b> {{ user_info['email'] }}</p>
        <hr />
      </div>
    </div>

  </main>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-bar-demo.js') }}"></script>
{% endblock %}
