{% extends 'layout.html' %} {% set active_page = "request_data_source" %} {%
block title %} Request Data Source {% endblock %} {% block header %} {% endblock
%} {% from "render_form_field.html" import render_field %} {% block content %}
<div class="container">
  <main role="main" class="col-md ml-sm-auto col-lg" style="margin-top: 20px">
    <h1 class="h1">{{ user_info['name'] }}'s Account</h1>
    <hr />

    <div class="media">
      <img
        class="rounded-circle accoount-img"
        src="{{ user_info['profile_photo'] }}"
        style="padding: 15px 20px 0px 0px"
      />
      <div class="media-body">
        <h2 class="account-heading">
          <b>Username:</b> {{ user_info['username'] }}
        </h2>
        <p class="text-secondary"><b>Company:</b> {{ user_info['company'] }}</p>
        <p class="text-secondary">
          <b>Phone Number:</b> {{ user_info['phone_number'] }}
        </p>
        <p class="text-secondary"><b>E-mail:</b> {{ user_info['email'] }}</p>
        <hr />
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          Maintained Data Sources
        </h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12">
                <table
                  class="table table-bordered dataTable"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                  role="grid"
                  aria-describedby="dataTable_info"
                  style="width: 100%"
                >
                  <thead>
                    <tr role="row">
                      <th
                        class="sorting sorting_asc"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        style="width: 8rem"
                        aria-sort="ascending"
                      >
                        Name
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        style="width: 9rem"
                      >
                        Type
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        style="width: 9rem"
                      >
                        Active Users
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        style="width: 9rem"
                      >
                        Created At
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for i in range(user_info['table_rows']|length)%}
                    <tr
                      class="{{'odd' if i%2 == 0 else
                                            'even' }}"
                    >
                      <td class="sorting_1">
                        {{ user_info['table_rows'][i][0] }}
                      </td>
                      <td>{{ user_info['table_rows'][i][1] }}</td>
                      <td>{{ user_info['table_rows'][i][2] }}</td>
                      <td>
                        {{ moment(user_info['table_rows'][i][3]).fromNow() }}
                      </td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-7">
                <div
                  class="dataTables_paginate paging_simple_numbers"
                  id="dataTable_paginate"
                >
                  <ul class="pagination">
                    <li
                      class="paginate_button page-item previous disabled"
                      id="dataTable_previous"
                    >
                      <a
                        href="#"
                        aria-controls="dataTable"
                        data-dt-idx="0"
                        tabindex="0"
                        class="page-link"
                        >Previous</a
                      >
                    </li>
                    <li class="paginate_button page-item active">
                      <a
                        href="#"
                        aria-controls="dataTable"
                        data-dt-idx="1"
                        tabindex="0"
                        class="page-link"
                        >1</a
                      >
                    </li>
                    <li
                      class="paginate_button page-item next"
                      id="dataTable_next"
                    >
                      <a
                        href="#"
                        aria-controls="dataTable"
                        data-dt-idx="7"
                        tabindex="0"
                        class="page-link"
                        >Next</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-bar-demo.js') }}"></script>
{% endblock %}
